@import 'colors.scss';

body {
    background: $iceBlue;
}

.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: $darkBrown;
    color: $latteBrown;
    font-weight: 600;
  }

.svg-toolbar {
    margin: 0 16px;
    fill: $latteBrown;
}